.containerTablea {
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.tabelaPacientes {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.topoTablea {
    background-color: #167c55;
    color: white;
    text-align: left;
    font-size: 18px;
}

.topoTablea th {
    padding: 15px;
    font-weight: bold;
}

.corpoTabela tr {
    border-bottom: 1px solid #ddd;
    transition: background 0.3s;
}

.corpoTabela tr:hover {
    background-color: #f1f1f1;
}

.linhaCorpo td {
    padding: 12px;
    font-size: 16px;
    color: #333;
}

/* Estilo responsivo */
@media (max-width: 768px) {
    .containerTablea {
        width: 100%;
        padding: 10px;
    }

    .tabelaMedicos {
        font-size: 14px;
    }

    .topoTablea th, .linhaCorpo td {
        padding: 10px;
    }
}
