.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--cor-secundaria);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 0 0 8px 8px;
  width: 100%;
  padding: 10px;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

.logo {
  width: 150px;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.navItem {
  margin: 0;
  position: relative;
}

.navLink {
  text-decoration: none;
  color: var(--cor-primaria);
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navList > li {
  padding: 10px 0;
}

.navLink:hover {
  color: rgba(218, 218, 218, 0.808);
}

.navItem:hover>.subMenu {
  display: flex;
  flex-direction: column;
  background-color: #18a06c;
}

.subMenu {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  list-style: none;
  display: none;
  position: absolute;
  width: 200px;
}

.subMenu>li {
  padding: 10px;
  border: 1px solid rgb(23, 116, 61);
}

.subMenu>li:hover {
  background-color: #14aa71;
}

/* Estilos para dispositivos menores */
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 0%;
  }

  .navContainer {
    flex-direction: column;
    width: 100%;
  }

  .navList {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .navList > li {
    background-color:  #00b46e;
    border-bottom: 1px solid rgba(0, 0, 0, 0.301);
    padding-bottom: 10px;
    margin-bottom: 1px;
    color: rgb(150, 150, 150);
  }

  .subMenu{
    margin-top: 10px;
  }

  .navList.active {
    display: flex;
  }

  .navItem {
    width: 100%;
    text-align: center;
  }

  .subMenu {
    position: static;
    width: 100%;
    text-align: center;
  }

  .logo {
    width: 120px;
  }

}

@media screen and (max-width: 480px) {
  .logo {
    display: none;
  }
}